body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(216, 209, 209);
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}

/* título */
h2{
    text-align: center;
    margin-top: 20px;
}

/* contém tudo */
.detalhes-produto {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* container imagem + texto */
.produto-info {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 1100px;
    margin: 50px auto;
}

/* imagem */
.produto-info img {
    max-width: 380px;
    height: auto;
    border-radius: 5px;
}

/* textos */
.texto-info {
    max-width: 600px;
    text-align: left;
}

.texto-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
}

/* descrição */
.texto-info .descricao {
    line-height: 1.5;
    max-width: 600px;
}

/* botão */
.botao-emprestar {
    background-color: rgb(204, 161, 173);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.voltar {
    display: block;
    margin-top: 20px;
    color: #444;
    text-decoration: underline;
}

footer{
    margin-top: 170px;
    padding: 20px;
    background-color: rgb(204, 161, 173);
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
